// Project text color
$text-color: #21093a;

// Button colors
$primary-button: #aa93ff;
$secondary-button: #f0f0ea;
$primary-button-hover-color: #bba8ff;
$secondary-button-hover-color: #e1e1dc;
$primary-button-active-color: #9f85ff;
$secondary-button-active-color: #ccccc9;

// media breakpoints
$small-screen: 700px;
$medium-screen: 900px;
$large-screen: 1200px;

// website view restriction
$maximum-view-width: 1200px;
