@import "../src/assets/scss/variable.scss";

body {
  display: flex;
  justify-content: center;
  color: $text-color;
  margin: 0px;
  background-color: $web-background-color;
}

#app {
  width: 100%;
  max-width: $maximum-view-width;
}
